.custom-modal {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgb(39, 3, 3);
  width: 80%;
  max-width: 400px;
  height: auto;
}

.button-x {
  padding: 10px;
}