<!-- <app-aside></app-aside> -->


<body>
 <div class="vertical-line"></div>

  <div class="container-profile">
      <form >
          <h2 class="tiltle-2">spider man</h2>
          <img class="imagen" src="img/image 3.png" alt="Mi Foto de Perfil">
          <button class="Edit" type="submit">Editar perfil</button>
          <label  for="cajaTexto" placeholder="Ingresa tu texto aquí"></label>
          <input type="text" id="cajaTexto" name="nombre">
          <button class="insert-img" type="submit">Insertar imagen</button>
          <button class="new-post" type="submit">New post</button>
      </form>
  </div>

  <div class="linea-horizontal"></div>

  <div class="container-img">
      <form >
          <img class="npost" src="img/image 3.png" alt="post">
          <img class="npost" src="img/image 3.png" alt="post">
          <img class="npost" src="img/image 3.png" alt="post">
      </form>
  </div>

</body>
