<app-aside></app-aside>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
  <div class="profile">
    <div class="vertical-line"></div>
    <div class="container-profile">
      <!-- Mediante '*ngIf' se obtiene la data del user -->
      <form *ngIf="user">
        <div class="til">
          <!--Se muestra la data del usuario que corresponda -->
          <h2 class="tiltle-2">{{ user.userName }}</h2>
        </div>
        <img class="imagen" [src]="user.userImg" alt="Mi Foto de Perfil">
        <div class="container-edit">
          <button class="Edit" type="submit">Editar perfil</button>
        </div>

        <div class="container-text">
          <label for="cajaTexto" placeholder="Ingresa tu texto aquí"></label>
          <input type="text" id="cajaTexto" name="nombre" placeholder="Escribe lo que quieras {{user.userName}}">
        </div>
        <div class="container-but">
          <div class="inst">
            <button class="insert-img" type="submit">Insertar imagen</button>
          </div>
          <div class="new">
            <button class="new-post" type="submit">New post</button>
          </div>
        </div>
      </form>
    </div>

    <div class="linea-horizontaal"></div>

    <div class="container-img">
      <form>
        <img class="npost" src="https://pm1.aminoapps.com/6588/f337a62675dc1e0f5c32640a9173f3b72b7d57bd_00.jpg"
          alt="post">
        <img class="npost" src="https://pm1.aminoapps.com/6588/f337a62675dc1e0f5c32640a9173f3b72b7d57bd_00.jpg"
          alt="post">
        <img class="npost" src="https://pm1.aminoapps.com/6588/f337a62675dc1e0f5c32640a9173f3b72b7d57bd_00.jpg"
          alt="post">
      </form>
    </div>
  </div>


</body>