body {

  font-family: Arial, sans-serif;
  background: #121212;
  background-size: cover;

}

.vertical-line {
  border-left: 1px solid #ccc;
  height: 600px;
  margin-left: 250px;
  margin-top: -270px;
 }

.container-profile{
  margin-left: 390px;
  margin-top: -580px;
}
.imagen{
  width: 180px;
  height: 180px;
  border-radius: 400px;
  margin-top: -60px;
}

.tiltle-2{
  color: rgb(255, 255, 255);
  margin-left: 250px;
  margin-top: 80px ;
}

.container-edit{
  margin-left: 70px;
  margin-top:-160px;
}
.Edit{
  width: 140px;
  height: 40px;
  left: 1081px;
  border-radius: 5px;
  border: 1px;
  background: linear-gradient(0deg, #1C1C1C, #1C1C1C),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  color: white;
  margin-left: 500px;

  }

  input{
    width: 523px;
    height: 44px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    background:#191818;
    color: white;
    margin-left: 200px;
    margin-top: 50px;
  }

  .insert-img{
    width: 140px;
    height: 40px;
    top: 300px;
    left: 797px;
    border-radius: 5px;
    border: 1px;
    background: linear-gradient(0deg, #1C1C1C, #1C1C1C),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: white;
    margin-left: 220px;
    margin-top: -80px;
    }
    .new-post{
    width: 140px;
    height: 40px;
    top: 300px;
    left: 1093px;
    border-radius: 5px;
    border: 1px;
    background: linear-gradient(0deg, #1C1C1C, #1C1C1C),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: white;
    margin-left: 210px;
    margin-top: 20px;

    }

    .linea-horizontal {
      border-top: 1px solid #ccc;
      width: 65%;
      margin:30px;
      margin-left: 370px;
      margin-top: 20px;

    }
.container-img
{

  margin-left: 350px;
  margin-top: 20px;
}
.npost
{
  display: inline;
  margin-left: 20px;
}
