body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #121212;

}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: -200px;

}

.vertical-line {
  width: 2px;
  background-color: #333;
  height: 100%;
}

.container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-left: 500px;
}

.tiltle-2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
  margin-left: 300px;
  margin-top: 100px;
}

.imagen {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: -100px;
}

.container-edit {
  margin: 20px 0;
  margin-left: 700px;
  margin-top: -200px;
}

.Edit {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 2px;
  border-color: white;
  background: linear-gradient(0deg, #1C1C1C, #1C1C1C),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.container-text {
  margin: 20px 0;
  margin-left: 300px;
  margin-top: 70px;
}

#cajaTexto {
  width: 523px;
  height: 44px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #FFFFFF;
  background: #191818;
  color: white;
}

.container-but {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.insert-img,
.new-post {
  width: 150px;
  border-radius: 5px;
  border: 2px;
  border-color: white;
  background: linear-gradient(0deg, #1C1C1C, #1C1C1C),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

.insert-img {
  margin-left: 300px;
}

.new-post {
  margin-left: -200px;
}

.linea-horizontal {
  width: 60%;
  height: 2px;
  background-color: #333;
  margin: 20px 0;
  margin-left: 500px;
}

.container-img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 500px;
}

.npost {
  Width: 327px;
  Height: auto;
  margin: 10px;
}

@media (max-width: 817px) {
  .profile {
    width: 550px;
    padding: 10px;
    margin-left: -270px;
    margin-top: -60px;
    align-items: center;
  }

  .tiltle-2 {
    font-size: 30px;
    margin-top: 30px;


  }

  .container-profile,
  .container-text {
    margin: 10px;
    margin-top: 50px;
    margin-left: -100px;
  }

  .til {
    margin-left: 380px;


  }

  .Edit {
    margin-left: 130px;
    margin-top: 250px;
  }

  .container-edit {
    margin-left: 20;
    text-align: center;
    margin-left: 370px;

  }

  .inst {

    margin-left: 250px;
    margin-top: 50px;
  }

  .new {
    margin-left: 280px;
    margin-top: 50px;
  }

  .imagen {
    height: 200px;
    margin-top: 10px;
    margin-left: 650px;
  }

  #cajaTexto {
    width: 200px;
    height: 30px;
    margin-left: 640px;
    font-size: 12px;
    margin-top: -100px;

  }

  .container-text {
    margin-top: -100px;
    margin-left: 1px;
  }

  .linea-horizontal {
    width: 100%;
    margin-left: 200px;
    margin-right: auto;
    margin-top: 6px;
    text-align: center;
  }

  .container-img {
    display: block;
    margin-left: 380px;
    margin-top: -10px;
    text-align: center;
  }

  .npost {
    width: 300px;

    margin: 50px;
  }
}


@media (min-width: 817px) and (max-width: 1377px) {

  .profile {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 0;

  }



  .container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-left: 30px;
    margin-top: -150px;
  }

  .tiltle-2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #ffffff;
    margin-left: 400px;


  }

  .imagen {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: -50px;
    margin-left: 150px;
  }

  .til {
    margin-top: 200px;
  }

  .container-edit {
    margin: 20px 0;
    margin-left: 600px;
    margin-top: -200px;
  }

  .container-text {
    margin: 20px 0;
    margin-left: 400px;
    margin-top: -50px;
  }

  #cajaTexto {
    width: 100%;
    max-width: 523px;
    height: 44px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    background: #191818;
    color: white;
    margin-top: 50px;

  }

  .container-but {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }

  .insert-img,
  .new-post {
    width: 100%;
    max-width: 180px;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px;
    border-color: white;
    background: linear-gradient(0deg, #1C1C1C, #1C1C1C),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    margin-left: 400px;
  }

  .new {
    margin-left: 550px;
    margin-top: -65px;
  }

  .linea-horizontal {
    width: 100%;
    max-width: 75%;
    height: 2px;
    background-color: #333;
    margin: 20px 0;
    margin-top: 30px;
    margin-left: 150px;
  }

  .container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    margin-left: 170px;
    margin-top: 10px;
  }

  .npost {
    width: 70%;
    max-width: 237px;
    height: auto;
    margin: 10px;
  }

  .new-post {
    margin-left: 50px;
  }
}