@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed;*/
  /* Fixed altura del fondo y SVG */
  filter: blur(0.2px) hue-rotate(-10deg);
  z-index: -2;
}

.background-svg {
  /* Cambiar medidas  */
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 800%;
  height: 200%;
  z-index: -1;
}

section {
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 1;
  flex-basis: 30%;
  margin-top: 5%;
  height: 100%;
  color: #fff;
}

.title {
  font-family: Inter;
  width: auto;
  text-align: center;
  font-weight: 800;
  margin-bottom: 15vh;
  font-size: 2rem;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px;
  width: 70%;
  /* height: 90%; */
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 10px;
}

form h2 {
  font-family: Inter;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

label {
  font-family: Inter;
  font-size: 0.9rem;
}

.container input {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #FFF;
  border-bottom: solid 2px var(--color-text, #333333);
  outline: none;
  /* background-color: rgba(2, 48, 36, 0.2); */
}

.buttons {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1.5rem;
}

button {
  align-items: center;
  font-family: Inter;
  border: none;
  background-color: #191818;
  color: #FFF;
  font-size: 1rem;
  border-radius: 10px;
  width: 100%;
  padding: 5px 0px 5px 0px;
}

button:hover {
  background-color: rgb(68, 65, 65);
}

.alert-danger {
  display: inline-block;
  position: relative;
  color: #fff;
  background-color: rgba(201, 18, 18, 0.719);
  font-size: 0.9rem;
  padding: 5px;
  top: -60px;
  border-radius: 4px;
  margin-bottom: -55px;
}

.alert-danger::before {
  content: "\26A0";
  position: absolute;
  left: -15px;
  font-size: 0.9rem;
}

/* Media Queries */
@media (max-width: 1600px) {
  /*
  .login-container {
    filter: none;
  } */

  section {
    margin-top: 5%;
    flex-basis: 30%;
  }

  form {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  section {
    margin-top: 5%;
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  section {
    flex-basis: 60%;
  }
}

@media (max-width: 480px) {
  section {
    flex-basis: 70%;
  }

  form {
    gap: 0px;
    padding: 0px;
  }

  form h2 {
    margin-bottom: 50px;
  }

  .buttons {
    margin-top: 0px;
    width: 90%;
  }
}

@media (max-width: 320px) {
  section {
    flex-basis: 90%;
  }
}