//importar ruta del router
<div class="login-container">
  <h2>{{tittle}}</h2>
  <form>
    <label class="LoginEmail" for= "instert email"> Email </label><br>
    <imput type= "email" id= "user_email" [(ngModel)]= "user.email" name = "user_email" required><br> 

    <label class="LoginPassword" for="user_password">Password:</label><br>
    <input type="password" id="user_password" [(ngModel)]="user.password" name="user_Password" required><br>
    <button (click)="login()">Login</button>
  </form>
  

</div>