@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0.2px) hue-rotate(-10deg); /* Ajustar el valor de hue-rotate */
    z-index: -2;
}



form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}
.containerAlin input{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px var(--color-text, #333333);
    color:transparent;
    outline: none;
}

label{
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-bottom: 0px;
    
}
.containerAlin{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: auto;
}

form h1{
  width: 148px;
  height: 56px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-left: 50px;
}

form h2{

  height: 50px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}


button{
    border-radius: 5px;
    margin-top: 10px;
    width: 275.929px;
    height: 35.286px;
    flex-shrink: 0;
    background-color: #191818;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    border:none;
}
.click-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #191818;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.8s ease;
  }
  
  .click-button:active {
    background-color: #806cf1;
  }
.containerAlin input{
    background: transparent;
}


@media (max-width: 480px) {
  .login {
      filter: none; /* Eliminar el filtro de desenfoque */
  }

  form {
      width: 80%; /* Reducir el ancho del formulario */
  }

  label {
      font-size: 12px; /* Reducir el tamaño de fuente de las etiquetas */
  }

  form h1 {
      font-size: 18px; /* Reducir el tamaño de fuente del título */
  }

  form h2 {
      font-size: 12px; /* Reducir el tamaño de fuente del subtítulo */
  }

  button {
      width: 100%; /* Ajustar el ancho del botón al 100% */
  }
}
