<div class="login">
  <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
      <h1 class="title">POOFO</h1>
      <div class="containerAlin">
          <h2 class="sub-re">Create your <br>account</h2>
          <br>
          <label for="name">Your Name</label><br>
          <input type="text" id="name" formControlName="name" required><br>
          <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']"
         class="alert alert-danger">this field is required.</div>
          <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength']"
         class="alert alert-danger">Name must  be longer than {{contactForm.get('name')?.errors?.['minlength']?.requiredLength}} characters.</div>
          <br>
          <label for="email">Email</label><br>
          <input type="email" id="email" formControlName="email" required><br>
          <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']"
      class="alert alert-danger">this field is required.</div>

          <label for="password">Password</label><br>
          <input type="password" id="password" formControlName="password" required><br>
          <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['required']"
      class="alert alert-danger">this field is required.</div>
          <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['minlength']"
      class="alert alert-danger">Password must  be longer than {{contactForm.get('password')?.errors?.['minlength']?.requiredLength}} characters.
          </div>
          <button class="click-button" type="submit">Sign Up</button>
      </div>
  </form>
</div>
