*{
  font-family: "";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --body-color: #020202;
  --sidebar-color: #444343;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #ffffff;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

.body{
  height: 100vh;
  background: var(--body-color);
}

/* ====reciclar==== */
.sidebar .text{
  height: 10px;
  font-size: 20px;
  color: var(--text-color)
}

.sidebar .image{
  position: relative;
  left: 45px;
  min-width:130px;
  margin-top: 40px;
}

.sidebar .menu{
  position: relative;
  top: 160px;

}

.sidebar .accesibility{
  position: relative;
  top: 200px;
}


/* ====sidebar==== */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--body-color);
  z-index: 12;
}

.sidebar li{
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90px;
    font-size: 38px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
  position: relative;
}


.sidebar .image-text img{
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}


header .image-text .header-text{
  display: flex;
  flex-direction: column;
}

.header-text .name{
  font-weight: 600;
}

.header-text .profession{
  margin-top: -2px;
}

.sidebar header .toggle{
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
}

a{
  color: white!important;
}

.sidebar li a{
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;

}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color)

}

@media (max-width: 700px){
  .text{
    display: none;
  }

  .sidebar .image{
    position: relative;
    left: 45px;
    min-width:130px;
    margin-top: -1000px;
  }

  .sidebar{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar .accesibility{
    position: relative;
    top: 250px;
  }



}

