
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="aside.component.css">
  <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
  <title>Asidebar</title>
</head>
<body>
  <nav class="sidebar">
    <header>
      <div class="text">
        <span>
          <h1 class="pof">POOFO</h1>
          <h1 class="po">PO</h1>
        </span>
      </div>
    </header>


      <div class="menu">
        <ul class="menu-link">
          <li class="nav-links tall">
            <a href="#">
              <i class='bx bx-church icon'></i>
              <span class="home nav-text">Home</span>
            </a>
          </li>
          <li class="nav-links">
            <a href="#">
              <i class='bx bx-ghost icon'></i>
              <span class="profile nav-text">Profile</span>
            </a>
          </li>
        </ul>

        <div class="accesibility">
          <ul class="menu-link">
            <li class="nav-links">
              <a href="#">
                <i class='bx bx-log-out icon'></i>
                <span class="close nav-text">Cerrar sesión</span>
              </a>
            </li>
          </ul>
        </div>

    </div>
  </nav>
</body>
</html>
