/* Estilos comunes */
.home-content {
  display: flex;
  flex-direction: column;
  background: #121212;
  width: 100%;
  min-height: 110vh;
}
.app-loader-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que la pantalla de carga esté por encima del contenido */
}
.main-content {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centrar horizontalmente */
}

.post-container {
  max-width: 900px;
  margin-top: 20px;
  margin: 20px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  flex: 1;
  display: flex; /* Usamos flexbox para alinear horizontalmente */
  align-items: flex-start; /* Alinear elementos al principio verticalmente */
  padding: 20px;
  overflow-y: auto;
  background: #1E1E1E;
}

.user-image {
  width: 40px; /* Tamaño de la imagen */
  height: 40px;
  border-radius: 50%;
  margin-right: 10px; /* Espacio entre la imagen y el textarea */
  margin-top: 20px;
}

.post-content {
  flex: 1; /* Ocupar el espacio restante horizontalmente */
}

textarea {
  width: 100%;
  border: none;
  padding: 15px;
  border: 1px solid #FFF;
  background: #191818;
  margin-bottom: 10px;
  border-radius: 40px;
  resize: none;
  font-size: 15px;
  color: #FFFFFF;
  overflow: hidden;
}
.button-group {
  width: 80%;
  margin-left: 30px;
}
.insert-button {
  background-color: #151616;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin-right: 10px; /* Espacio entre los botones */
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.publish-button {
  background-color: #151616;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}


button:hover {
  background-color: #464748;
}

/* Estilos de las publicaciones */
.post {
  width: 100%;
  max-width: 900px;
  background-color: #1E1E1E;
  border-radius: 10px;
  margin-top: 20px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.user-name {
  font-weight: 600;
  margin: 0;
  color: #FFFFFF;
}

.post-time {
  color: #999999;
  margin: 0;
}

.post-text {
  margin-top: 10px;
  display: flex;
  font-size: 16px;
  color: #ffffffc0;
  justify-content: center;
  max-width: 100%;
  word-wrap: break-word;
}

.post-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.post-image-img {
  width: 80%;
  height: 300px; /* Ajusta la altura según tus necesidades */
  object-fit: cover;
  border-radius: 5px;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.post-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.like-button,
.comment-button,
.share-button {
  background-color: #151616;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.like-button:hover,
.comment-button:hover,
.share-button:hover {
  background-color: #464748;
}
.liked {
  background-color: #E0E1E4;
  color: #151616;
}


@media (max-width: 425px) {
  .main-content {
    margin-left: 50px; /* adaptar al margen lateral */
  }
  .button-group {
    width: 100%; /* Ocupar todo el ancho disponible */
    margin-left: 0;
    justify-content: center;
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main-content {
    margin-left: 200px; /* adaptar al margen lateral */
  }
  .button-group {
    width: 100%; /* Ocupar todo el ancho disponible */
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
}
