@media (max-width:414px) {
  .home-content {
    display: flex;
    background: #121212;
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }


  .publication {
    display: flex;
    margin-top: 54px;
    flex-direction: row;
    border-bottom: 1px solid white;
  }

  .publication img {
    width: 25px;
    height: 23px;
    margin-left: 9px;
    flex-shrink: 0;
    border-radius: 25px;
    background: lightgray / cover no-repeat;
  }

  .publication textarea {
    width: 132px;
    height: 17px;
    margin-top: 3px;
    margin-left: 5px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #121212;
    resize: none;
    border: none;
    line-height: 20px;
  }

  button {
    color: #FFF;
    background-color: #121212;
    border: none;
  }

  .publication .icon-image {
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    fill: white;
    margin-left: 140px;
  }

  .publication .text-imagen {
    display: none;
  }

  .publication .icon-submit {
    display: none;
  }

  .publication .text-submit {
    display: none;
  }

  .modify-publication {
    display: flex;
    flex-direction: column;
  }

  .head-publication {
    display: flex;
    flex-direction: row;
  }

  .modify-publication img {
    width: 25px;
    height: 23px;
    margin-top: 15.48px;
    margin-left: 9px;
    flex-shrink: 0;
    border-radius: 25px;
  }

  .modify-publication #user-name {
    width: 95px;
    height: 17px;
    margin-top: 18.48px;
    margin-left: 5px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .modify-publication .head-publication button {
    width: 20.457px;
    height: 5.114px;
    flex-shrink: 0;
    margin-top: 18.48px;
    margin-left: 180px;
  }

  .modify-publication .img-publication {
    width: 360px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 0%;
  }

  .interaction-toolbar {
    width: 84.625px;
    height: 16px;
    flex-shrink: 0;
    margin-top: 7px;
    margin-left: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .interaction-toolbar button svg {
    width: 16.67px;
    height: 15px;
    margin-right: 10px;
  }

  .user-comment {
    width: 260px;
    height: 15px;
    margin-top: 16px;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
  }

  .modify-publication .user-comment #user-name {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0%;
  }

  .modify-publication .user-comment #user-publication {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0%;
    margin-left: -30px;
  }

  .modify-publication #Add-comment {
    width: 170px;
    height: 32px;
    margin-top: 10px;
    margin-left: 9px;
    background: #303030;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

/*vista pc*/
@media (min-width: 1098px) {
  .home-content {
    display: flex;
    background: #121212;
    width: 100%;
    min-height: 110vh;
  }

  .content-home {
    /* Ajusta el margen izquierdo para mover el contenido hacia la derecha */
    margin-left: 220px;
    /* Puedes ajustar este valor según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #publishForm {
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .publication {
    width: 632px;
    height: 145px;
    border-radius: 10px;
    background: #1E1E1E;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    /* Agrega espacio interno para contenido */
    box-sizing: border-box;
    /* Incluye el padding en el ancho y alto */
  }

  .row-img-textarea {
    display: flex;
    flex-direction: column;
  }

  .publication-image {
    width: 37px;
    height: 33px;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    /* Ajusta el margen superior según sea necesario */
  }

  .textarea-container {
    flex: 1;
    width: 100%;
    /* Aprovecha todo el ancho disponible */
    margin-top: 10px;
    /* Agrega espacio entre la imagen y el textarea */
  }

  .textarea-container textarea {
    width: 524px;
    height: 44px;
    border-radius: 30px;
    border: 1px solid #FFF;
    background: #191818;
    padding: 10px;
    resize: none;
    font-size: 20px;
    overflow: hidden;
  }

  .publication .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
    /* Ajusta el margen superior según sea necesario */
    margin-left: 140px;
  }

  .insert-image-button,
  .publish-button {
    width: 40px;
    height: 35px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #1E1E1E;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    width: calc(50% - 5px);
  }

  .head-publication {
    margin-top: 80px;
  }

  .modify-publication img {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    border-radius: 60px;
  }

  .modify-publication #user-name {
    font-size: 20px;
    margin-left: -500px;
    margin-top: 20px;
  }

  .modify-publication .interaction-toolbar button {
    padding: 5px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  .modify-publication .interaction-toolbar svg {
    width: 20px;
    height: 20px;
  }

  .modify-publication .head-publication {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
  }

  .modify-publication .head-publication button svg {
    margin-left: auto;
  }

  .modify-publication .img-publication {
    width: 85%;
    max-width: 900px;
    height: auto;
    border-radius: 5px;
    margin-top: 30px;
    /* Agrega un margen superior para separar la imagen del botón */
  }

  .user-comment {
    padding: 15px;
    margin-top: 25px;
    margin-left: 15px;
  }

  .modify-publication .user-comment #user-name {
    font-size: 16px;
  }

  .modify-publication .user-comment #user-publication {
    font-size: 16px;
    margin-left: -40px;
  }

  .modify-publication #Add-comment {
    width: 85%;
    border-radius: 30px;
    border: 1px solid #FFF;
    background: #191818;
    padding-left: 30px;
    resize: none;
    font-size: 10px;
    margin-top: 10px;
    /* Añade espacio entre el textarea y los comentarios */
  }

  button {
    color: #FFF;
    background-color: #121212;
    border: none;
  }
}
