<div class="home-content">
  <div class="aside">
    <app-aside></app-aside>
  </div>
  <div class="main-content">
    <div class="app-loader-overlay" *ngIf="isLoading">
      <app-loader></app-loader>
    </div>
    <div class="post-container">
      <div class="user-info">
        <img class="user-image" src="https://www.softzone.es/app/uploads/2018/04/guest.png?x=480&quality=40" alt="Imagen de usuario">
      </div>
      <div class="post-content">
        <textarea [(ngModel)]="postText" placeholder="Escribe tu publicación..."></textarea>
        <div class="button-group">
          <button class="insert-button" (click)="openModal()">Insertar Imagen</button>
          <button class="publish-button" (click)="publishPost()">Publicar</button>
        </div>
      </div>
    </div>

    <div *ngFor="let publication of listpublications" class="post">
      <div class="post-header">
        <img class="user-avatar" [src]="publication.userimg" alt="Avatar de usuario">
        <div class="user-info">
          <p class="user-name">{{ publication.username }}</p>
          <p class="post-time">{{ publication.date_create | date }}</p>
        </div>
      </div>
      <div class="post-text">
        {{ publication.description }}
      </div>
      <div class="post-image" *ngIf="publication.image">
        <img class="post-image-img" [src]="publication.image" alt="Imagen de la publicación">
      </div>
      <div class="post-actions">
        <button class="like-button" [ngClass]="{ 'liked': likedPublications[publication._id] }" (click)="likePublication(publication)">Me gusta</button>
        <button class="comment-button">Comentar</button>
        <button class="share-button">Compartir</button>
      </div>
    </div>
  </div>
</div>

<div class="custom-modal" *ngIf="isModalVisible == true">
  <app-modal></app-modal>
</div>
